<form class="grid grid-cols-2 gap-x-4 mt-8">
  <igx-select
    #select
    *ngIf="cardSupertype$ | async as cardSupertypes"
    (selectionChanging)="sendFilterSupertype($event)">
    <label igxLabel>Supertypes</label>
    <igx-select-item *ngFor="let supertypes of cardSupertypes.data" [value]="supertypes">
      {{ supertypes }}
    </igx-select-item>
  </igx-select>

  <igx-select #select *ngIf="cardType$ | async as cardTypes" (selectionChanging)="sendFilterType($event)">
    <label igxLabel>Types</label>
    <igx-select-item *ngFor="let type of cardTypes.data" [value]="type">
      {{ type }}
    </igx-select-item>
  </igx-select>
</form>
