<section class="mt-28 flex flex-col justify-center gap-4">
  <h2>Decks List</h2>
  <ng-container *ngIf="decks.length !== 0; else addDeck">
    <div class="flex flex-wrap gap-4 justify-evenly">
      <ng-container *ngFor="let deck of decks">
        <app-deck-card [deck]="deck"></app-deck-card>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #addDeck>
    <div style="background-color: red" class="w-48">
      <h5>Que tal adicionar um Deck?</h5>
    </div>
  </ng-template>
</section>

<app-deck-information></app-deck-information>
