<section *ngIf="allCards$ | async as cards" class="flex flex-col">
  <div class="flex flex-wrap justify-between">
    <ng-container *ngFor="let card of cards">
      <ng-container *ngIf="isMiniCard; else normalCards">
        <app-mini-card (onClick)="removeCardOnDeck(card)" [card]="card"></app-mini-card>
      </ng-container>
      <ng-template #normalCards>
        <app-card (click)="addCardOnDeck(card)" [cardImage]="card.images.small"></app-card>
      </ng-template>
    </ng-container>
  </div>
  <button type="button">Load More Cards</button>
</section>
