<section *ngIf="cards" class="flex mt-8 flex-wrap justify-evenly gap-4">
  <ng-container *ngFor="let card of cards; trackBy: trackByItems">
    <ng-container *ngIf="isMiniCard; else normalCards">
      <app-mini-card (click)="removeCardOnDeck(card)" [card]="card"></app-mini-card>
    </ng-container>
    <ng-template #normalCards>
      <ng-container *ngIf="isDetailsMode; else createOrEditMode">
        <app-card [cardImage]="card.images.small"></app-card
      ></ng-container>

      <ng-template #createOrEditMode>
        <app-card (click)="addCardOnDeck(card)" [cardImage]="card.images.small"></app-card>
      </ng-template>
    </ng-template>
  </ng-container>
</section>

<section *ngIf="decks" class="flex mt-8 flex-wrap justify-evenly gap-4">
  <ng-container *ngFor="let deck of decks">
    <app-deck-card [deck]="deck"></app-deck-card>
  </ng-container>
</section>
