<div class="container flex justify-between mt-20 mb-8 py-8 flex-wrap pl-8" style="background-color: azure">
  <div class="text-center flex flex-col items-center">
    <h3>Deck count</h3>
    <h4>6/60</h4>
    <button>Criar</button>
  </div>
  <div class="flex flex-col items-center">
    <img class="w-6/12" src="../../../assets/images/pikachu64.png" alt="pikachu icon" />
    <p>Pokémon</p>
    <h4>2</h4>
  </div>
  <div class="flex flex-col items-center">
    <img class="w-6/12" src="../../../assets/images/trainer64.png" alt="trainer icon" />
    <p>Trainer</p>
    <h4>2</h4>
  </div>
  <div class="flex flex-col items-center">
    <img class="w-6/12" src="../../../assets/images/energy64.png" alt="energy icon" />
    <p>Energy</p>
    <h4 class="text-center">2</h4>
  </div>
  <div class="flex flex-col items-center">
    <img class="w-6/12" src="../../../assets/images/colors64.png" alt="colors icon" />
    <p>Colors</p>
    <h4 class="text-center">2</h4>
  </div>
</div>
