<igx-expansion-panel class="deck-details mt-5">
  <igx-expansion-panel-header [iconPosition]="'right'" class="test-header">
    <igx-expansion-panel-title class="flex justify-between text-center pb-4">
      <div>
        <h4>Deck Name</h4>
      </div>
    </igx-expansion-panel-title>

    <igx-expansion-panel-description class="flex justify-between">
      <div class="flex items-center">
        <div class="flex flex-col items-center">
          <img class="w-5/12" src="../../../assets/images/pikachu64.png" alt="pikachu icon" />
          <p>Pokémon</p>
          <h5>{{ numberOfPokemons }}</h5>
        </div>
        <div class="flex flex-col items-center">
          <img class="w-5/12" src="../../../assets/images/trainer64.png" alt="trainer icon" />
          <p>Trainer</p>
          <h5>{{ numberOfTrainers }}</h5>
        </div>
        <div class="flex flex-col items-center">
          <img class="w-5/12" src="../../../assets/images/energy64.png" alt="energy icon" />
          <p>Energy</p>
          <h5 class="text-center">{{ numberOfEnergies }}</h5>
        </div>
        <div class="flex flex-col items-center" *ngIf="isDetailsMode">
          <img class="w-5/12" src="../../../assets/images/colors64.png" alt="colors icon" />
          <p>Color</p>
          <h5 class="text-center">{{ numberOfColors }}</h5>
        </div>
      </div>
      <div class="button-sample flex gap-x-4">
        <h4>{{ numberOfPokemons + numberOfTrainers + numberOfEnergies }}/60</h4>
        <button *ngIf="!isDetailsMode" (click)="form.open()">Save</button>
      </div>
    </igx-expansion-panel-description>
  </igx-expansion-panel-header>
  <igx-expansion-panel-body *ngIf="deckCards$">
    <app-card-list [allCards$]="deckCards$" [isMiniCard]="true"></app-card-list>
  </igx-expansion-panel-body>
</igx-expansion-panel>

<igx-dialog #form [closeOnOutsideSelect]="true">
  <igx-dialog-title>
    <p>Create Deck</p>
  </igx-dialog-title>

  <form class="signInForm">
    <igx-input-group>
      <label igxLabel for="name">Deck Name</label>
      <input igxInput id="name" type="text" />
    </igx-input-group>
  </form>

  <div igxDialogActions>
    <button igxButton (click)="form.close()">CANCEL</button>
    <button igxButton (click)="form.close()">CREATE</button>
  </div>
</igx-dialog>
