<section class="mt-28 flex flex-col justify-center">
  <h2>Deck Builder</h2>
  <app-deck-information [deckCards]="deckCards"></app-deck-information>

  <div class="grid template-col gap-x-4 mt-8">
    <igx-select
      #select
      *ngIf="cardSupertype$ | async as cardSupertypes"
      (selectionChanging)="sendFilterSupertype($event)">
      <label igxLabel>Supertypes</label>
      <igx-select-item *ngFor="let supertypes of cardSupertypes.data" [value]="supertypes">
        {{ supertypes }}
      </igx-select-item>
    </igx-select>

    <button class="save-button" (click)="form.open()" [igxTooltipTarget]="locationTooltip">Save</button>
    <div #locationTooltip="tooltip" igxTooltip>
      {{ isDeckInvalid ? 'Number of cards needs to be between 24 and 60' : 'Save' }}
    </div>
  </div>

  <app-card-list [allCards$]="allCards$" class="mt-20"></app-card-list>
  <div class="flex gap-x-4 justify-center my-8">
    <button (click)="loadCardsPreviousPage()"><igx-icon>chevron_left</igx-icon></button>
    <button (click)="loadCardsNextPage()"><igx-icon class="mr-2">chevron_right</igx-icon></button>
  </div>
</section>

<igx-dialog #form [closeOnOutsideSelect]="true">
  <igx-dialog-title>
    <p>Deck Name</p>
  </igx-dialog-title>

  <form [formGroup]="deckForm">
    <igx-input-group>
      <label igxLabel for="name">Deck Name</label>
      <input igxInput id="name" type="text" formControlName="name" />
    </igx-input-group>
  </form>

  <div igxDialogActions>
    <button igxButton (click)="form.close()">CANCEL</button>
    <button igxButton type="submit" [disabled]="!deckForm.valid" (click)="handleSaveDeckBuilder()">SAVE</button>
  </div>
</igx-dialog>
