.template-col {
  grid-template-columns: 3fr 1fr;
}

[igxButton='outlined'],
.igx-button--outlined {
  height: auto;
  width: auto;
  font-size: 1.5rem;
  --border-color: #1d2c5e;
  --hover-border-color: #1d2c5e;
  --hover-background: #1d2c5e3a;
}
