<section class="flex items-center justify-between">
  <div class="flex items-center">
    <div class="flex flex-col items-center">
      <img class="w-5/12" src="../../../assets/images/pikachu64.png" alt="pikachu icon" />
      <p>Pokémon</p>
      <h5>{{ numberOfPokemons }}</h5>
    </div>
    <div class="flex flex-col items-center">
      <img class="w-5/12" src="../../../assets/images/trainer64.png" alt="trainer icon" />
      <p>Trainer</p>
      <h5>{{ numberOfTrainers }}</h5>
    </div>
    <div class="flex flex-col items-center">
      <img class="w-5/12" src="../../../assets/images/energy64.png" alt="energy icon" />
      <p>Energy</p>
      <h5 class="text-center">{{ numberOfEnergies }}</h5>
    </div>
    <div class="flex flex-col items-center">
      <img class="w-5/12" src="../../../assets/images/colors64.png" alt="colors icon" />
      <p>Color</p>
      <h5 class="text-center">{{ numberOfColors }}</h5>
    </div>
  </div>
  <div class="button-sample flex gap-x-4">
    <h4>{{ numberOfPokemons + numberOfTrainers + numberOfEnergies }}/60</h4>
  </div>
</section>
