@use 'igniteui-angular/theming' as *;
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: palette($primary, $secondary, $surface);

/* autoprefixer grid: on */

@include core();
@include typography($font-family: 'Poppins', $type-scale: $fluent-type-scale);
@include theme($default-palette);
// CSS Reset, comment out if not required or using a different module

@import 'minireset.css/minireset';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7ff;
}

.ig-typography {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    color: #222222;
  }

  h1 {
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 0.5px;
  }
}

.igx-navbar {
  min-height: 4.5rem;
}

button {
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: #fff;
  width: fit-content;
  padding: 0.2rem 0.8rem;
  font-size: 1rem;
  font-weight: 800;
  height: fit-content;
  display: flex;
  align-items: center;
  color: #1d2c5e;
  justify-content: center;
}
